In [1]:
import pandas as pd

df = pd.read_csv("data.csv")

In [3]:
df.head()

   Unnamed: 0      body_text  phrase ids  sentiment values
0           0            ! '       22935           0.52778
1           1           ! ''       18235           0.50000
2           2         ! Alas      179257           0.44444
3           3    ! Brilliant       22936           0.86111
4           4  ! Brilliant !       40532           0.93056

In [9]:
df = df.drop(columns=["Unnamed: 0"])

In [12]:
labels = df['sentiment values']

In [14]:
features = df.drop(columns=["sentiment values"])

       body_text  phrase ids
0            ! '       22935
1           ! ''       18235
2         ! Alas      179257
3    ! Brilliant       22936
4  ! Brilliant !       40532